<div class="wrapper">
    <app-sidebar></app-sidebar>
    <div class="main">
        <app-navbar-dashboard></app-navbar-dashboard>
        <main class="content px-3 py-4">
            <div class="container-fluid">
                <div class="mb-3">
                    <h3 class="fw-bold fs-4 mb-3">Admin Dashboard</h3>
                    <h3 class="fw-bold fs-4 my-3">CANDIDATES
                    </h3>
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr class="highlight">
                                        <th scope="col">#</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of candidateUsers">
                                        <th scope="row"></th>
                                        <td>{{ user.firstName }}</td>
                                        <td>{{ user.familyName }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.role.name }}</td>
                                        <td class=" ">
                                            <a><i class="lni  lni-pencil-alt mx-5 text-dark"></i></a>
                                            <button class="btn btn-link p-0 border-0" (click)="deleteUser(user.id)"><i class="lni lni-trash-can text-dark"></i></button>
                                          </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="container-fluid">
                <div class="row text-body-secondary">
                    <div class="col-6 text-start ">
                        <a class="text-body-secondary" href=" #">
                            <strong>Hind</strong>
                        </a>
                    </div>
                    <div class="col-6 text-end text-body-secondary d-none d-md-block">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <a class="text-body-secondary" href="#">Contact</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="text-body-secondary" href="#">About Us</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="text-body-secondary" href="#">Terms & Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>