<div class="wrapper">
    <app-sidebar></app-sidebar>
    <div class="main">
        <app-navbar-dashboard></app-navbar-dashboard>
       <main class="content px-3 py-4">
            <div class="container-fluid">
                <div class="mb-3">
                    <div class="student-list-header d-flex justify-content-between align-items-center py-2">
                        <div class="fw-bold fs-4 mb-3">Admin Dashboard</div>
                      
                        <div class="btn-add d-flex gap-3 align-items-center">
                            <div class="short">
                                <a class="btn add" *ngIf="hasAuthorityManager()"  href=""><i class="lni lni-plus"></i>Add Application</a>
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-md-3 my-2">
                        <div class="col">
                          <div class=" h-100" style="border: 1px solid rgba(0, 0, 0, 0.125); border-radius: 0.25rem;">
                            <div class="card-body mt-3">
                              <h5 class="card-title ">Application</h5>
                              <p class="card-text">Total Applications: {{ totalApplications }}</p>
                            </div>
                    
                          </div>
                        </div>
                        <div class="col">
                          <div class="card h-100">
                            <div class="card-body">
                              <h5 class="card-title">Rejected</h5>
                              <p class="card-text">Total Applications Rejected: {{ rejectedCount }} </p>
                    
                            </div>
                    
                          </div>
                        </div>
                        <div class="col">
                          <div class="card h-100">
                            <div class="card-body">
                              <h5 class="card-title">Approved</h5>
                    
                              <p class="card-text">Total Applications Approved: {{ approvedCount }}</p>
                            </div>
                    
                          </div>
                        </div>
                    </div>
                    
                    <h3 class="fw-bold fs-4 my-3">Regitrations/Applications
                    </h3>
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr class="highlight">
                                        <th scope="col">#</th>
                                        <th scope="col">Poste</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Type Contrat</th>
                                        <th>status</th>
                                        <th>Cv</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr  *ngFor="let application of applications">
                                        <th scope="row">{{ application.id }}</th>
                                        <td>{{ application.title }}</td>
                                        <td>{{ application.user.email }}</td>
                                        <td>{{application.offer.contrat}}</td>
                                        <td [ngClass]="{
                                            'text-success': application.status === 'APPROVED',
                                            'text-danger': application.status === 'REJECTED',
                                            'text-warning': application.status === 'PENDING'
                                        }">{{ application.status }}</td>
                                        <td>{{ application.cv.slice(0, 25)}}</td>
                                        <td class=" ">
                                            <button href="" class="btn btn-link p-0 border-0" (click)="approveApplication(application.id)"><i class="lni lni-checkmark-circle fw-bold fs-5 mx-5 text-success"></i></button> 
                                            <button href="" class="btn btn-link p-0 border-0" (click)="rejectApplication(application.id)"><i class="lni lni-ban text-danger fw-bold fs-5"></i></button> 
                                          </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="container-fluid">
                <div class="row text-body-secondary">
                    <div class="col-6 text-start ">
                        <a class="text-body-secondary" href=" #">
                            <strong>Hind</strong>
                        </a>
                    </div>
                    <div class="col-6 text-end text-body-secondary d-none d-md-block">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <a class="text-body-secondary" href="#">Contact</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="text-body-secondary" href="#">About Us</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="text-body-secondary" href="#">Terms & Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>